<h1>Questions#answer</h1>
<!-- display the question you ask your coach as well as his answer. -->
<p>Your question is <%= @question %></p>
<p>My answer is <%= @answer %></p>

<%= link_to "Ask a new question", ask_path %>










