<h1>Stupid Coaching</h1>
<form action="answer">
  <label for="question">Ask your coach anything: </label>
  <input type="text" name="question" id="question">
  <input type="submit" value="Ask!" id="button">
</form>
